.bloque-central{
  margin-bottom:60px;
  margin-left: 50px;
  padding: 15px 20px;
  background-color:white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);  
  height: 460px;
  width: 950px;
  border-radius: 10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  z-index: 1;
}
.manejables{
  z-index: 2;
  z-index: 3;
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  position: absolute;
  top:300px;
}
#contenedor-objetos-draggables{
  margin-left: 40px;
  z-index: 3;
  height: 130px;
  width: 320px;
  background-color: blue;
}

.figura-propiedades{
  background-color: rgb(60,134,174) !important;
  border: 1px solid black !important;
  position: absolute;
}


.flechas-fracc{
  z-index: 3;
  margin-right: 10px;
  width: 60px;
  height: 130px;
}
.contadores{
  z-index: 3;
  margin-right: 70px;
  width: 100px;
  height: 130px;
 
}

.num-contador{
  width: 100px;
  height: 65px;
  text-align: center;
  font-size: 50px;
  color:black;
}
#numerador-texto{
  border-bottom: solid 4px;

}


.flechas-add-contenedor{
  z-index: 3;
  margin-left: 10px;
  width: 60px;
  height: 130px;
  color: black;
}

.flechas-add-contenedor .add-flecha-btn{
  margin-top:20px; 
}
.flechas-add-contenedor .add-flecha-btn-desact{
  margin-top:20px; 
}
.flechas-add-contenedor .add-flecha-btn span{
  font-size: 30px;
}
.flechas-add-contenedor .add-flecha-btn-desact span{
  font-size: 30px;
}

.add-flecha-btn{
  width: 60px;
  height:32.5px; 
  border:none;
  background:none;
  outline:0;
  font-size: 25px;
  color: black;
  
}
.add-flecha-btn span{
  border-radius: 50%;
  background-color: yellow;
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
 -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
 box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  
}
.add-flecha-btn-desact{
  width: 60px;
  height:32.5px; 
  border:none;
  background:none;
  outline:0;
  font-size: 25px;
  color: grey;
}
.add-flecha-btn-desact span{
   border-radius: 50%;
  background-color: rgb(207,208,210);
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}


.add-contenedor-figura{
  z-index: 3;
  margin-right: 20px;
  width: 100px;
  height: 130px;
  font-size: 25px;
  color: black;
  justify-content: center;
  text-align: center;
}
.add-contenedor-figura p{
  font-weight: bold;
}
.add-contenedor-figura #num-max{
  margin-top: -10px;
  font-size: 55px;
}

.contenedor-principal{
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto ;
  width: auto;
 /* background-color: blue;*/
}

.contenedor-figura{
  display: flex;
  flex-direction: row;

  z-index: 3;
  width: 280px;
  height: 100px;
  background-color: green;
  margin: 10px;
}
.figura-rectangulo-horizontal-1{
  z-index: 4;
  height: 100px;
  width: 280px;
  background-color: white;
  border: 2px dashed rgb(176,176,176);
}
.figura-rectangulo-horizontal-2{
  z-index: 4;
  height: 100px;
  width: 140px;
  background-color: white;
  border: 2px dashed rgb(176,176,176);
}
.figura-rectangulo-horizontal-3{
  z-index: 4;
  height: 100px;
  width: 93.33px;
  background-color: white;
  border: 2px dashed rgb(176,176,176);
}
.figura-rectangulo-horizontal-4{
  z-index: 4;
  height: 100px;
  width: 70px;
  background-color: white;
  border: 2px dashed rgb(176,176,176);
}
.figura-rectangulo-horizontal-5{
  z-index: 4;
  height: 100px;
  width: 56px;
  background-color: white;
  border: 2px dashed rgb(176,176,176);
}
.figura-rectangulo-horizontal-6{
  z-index: 4;
  height: 100px;
  width: 46.667px;
  background-color: white;
  border: 2px dashed rgb(176,176,176);
}
.figura-rectangulo-horizontal-7{
  z-index: 4;
  height: 100px;
  width: 40px;
  background-color: white;
  border: 2px dashed rgb(176,176,176);
}
.figura-rectangulo-horizontal-8{
  z-index: 4;
  height: 100px;
  width: 35px;
  background-color: white;
  border: 2px dashed rgb(176,176,176);
}

.barra-lateral{
  margin-bottom: 60px !important;
  background-color:#D3AC67;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-left: 60px;  
  border-radius: 10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  padding-bottom: 5px;

}

.usuario-bloque{
  padding:10px 5px;

  font-size: 20px;

}

.opciones-intro{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.opc{
  padding:15px 5px;
  background-color: white;
  height: 70px;
  width: 120px;
  margin: 5px 0;
}
.guardar-btn{
  right:370px;
  position: absolute;
  bottom: -70px;
  z-index: 2; 
}

.guardar-btn button{
  text-transform: uppercase;
  outline: 0;
  background-color: rgb(51,122,183);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
}
.guardar-btn button:hover{
  background-color: rgb(40,96,144); 
}