<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Intro_fracciones.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>Intro_fracciones.welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fail</servlet-name>
        <servlet-class>Intro_fracciones.fail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrador</servlet-name>
        <servlet-class>Intro_fracciones.Administrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profesor</servlet-name>
        <servlet-class>Intro_fracciones.Profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alumno</servlet-name>
        <servlet-class>Intro_fracciones.Alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificar</servlet-name>
        <servlet-class>Intro_fracciones.Modificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarCambios</servlet-name>
        <servlet-class>Intro_fracciones.GuardarCambios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Intro_fracciones.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuario</servlet-name>
        <servlet-class>Intro_fracciones.CrearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarUsuario</servlet-name>
        <servlet-class>Intro_fracciones.GuardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Intro_fracciones.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>Intro_fracciones.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorPrueba</servlet-name>
        <servlet-class>Intro_fracciones.AdministradorPrueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosExistentesAjax</servlet-name>
        <servlet-class>Intro_fracciones.UsuariosExistentesAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAjax</servlet-name>
        <servlet-class>Intro_fracciones.LoginAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guardar_Introduccion_Fracciones</servlet-name>
        <servlet-class>Intro_fracciones.Guardar_Introduccion_Fracciones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fail</servlet-name>
        <url-pattern>/fail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrador</servlet-name>
        <url-pattern>/Administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profesor</servlet-name>
        <url-pattern>/Profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alumno</servlet-name>
        <url-pattern>/Alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificar</servlet-name>
        <url-pattern>/Modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarCambios</servlet-name>
        <url-pattern>/GuardarCambios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuario</servlet-name>
        <url-pattern>/CrearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarUsuario</servlet-name>
        <url-pattern>/GuardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorPrueba</servlet-name>
        <url-pattern>/AdministradorPrueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosExistentesAjax</servlet-name>
        <url-pattern>/UsuariosExistentesAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAjax</servlet-name>
        <url-pattern>/LoginAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guardar_Introduccion_Fracciones</servlet-name>
        <url-pattern>/Guardar_Introduccion_Fracciones</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
